.container {
    display: flex;
    background-color: #f1f1ee;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    font-weight: bold;
}

span {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center; 
    white-space: nowrap;
    color: #4d4b4e;
    cursor: pointer;
}

button {
    background-color: #ddd;
    border: none;
    color: #4d4b4e;
    padding: 10px 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    color: #ef4136;
}